.dbm {

    &  h2 {
        margin-top: 50px;
        text-align: center;
    }

    & .portfolios__list {
        border: 2px solid blue;
        margin-top: 30px;
        min-height: 200px;
        //height: 400px;
        overflow-y: auto;
        //width: 100%;
        resize: vertical;
        display: flex;

        & .porfolio__container {
            //width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
            padding: 20px;

            & > img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                filter: brightness(.7);

            }

            &.selected img {
                border: 3px solid green;
                font-weight: 800;
                filter: brightness(1);
            } 

        }
    }



}