@use "/src/assets/css/variables" as *;



.cart-informer {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    //background-color: var(--main_vv);
    display: flex;
    align-items: center;
    justify-content: center;


    & span {
        font-size: 14px;
        font-weight: 700;
        color: var(--main_vv);
    }
}