.tech__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    //border: 1px solid red;

    & > .tech__img__container {
        width: 100%;
        //border: 2px solid blue;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        & > img {
            width:  15%;
            height: auto
            //object-fit: contain;
        }
    }

    & > .tech__descr__container {
        //border: 2px solid yellow;

        & p {
            
            font-size: 1.2rem;
        }


    }
}