@use '/src/assets/css/variables' as *;


.page_creator_fiber {

    & form {
        margin-top: 70px;
        gap: 30px 40px;
        background-color: var(--main);
        border-radius: 5px;
        padding: 40px;
        width: 80%; 
        margin-left: auto;
        margin-right: auto;

        @include respond-to(sm) {
            padding: 20px;
            width: 100%; 
        }


        & .input-block, .input-block_header {
            display: grid;
            grid-template-columns: 100px 1fr 1fr;
            gap: 10px 20px;
            margin-top: 30px;
            align-content: stretch;



            @include respond-to(md) {
                grid-template-columns: 100px 1fr;
                border-bottom: 1px solid var(--main_vv);
                margin-top: 30px;
                padding-bottom: 35px;

                &:nth-of-type(5) {
                    border-bottom: none;
                }
            }

            @include respond-to(xs) {
                grid-template-columns: 1fr;
            }

            & span, h3 {
                text-align: center;
                color: var(--text);
            }


            & label {
                //min-width: 160px;
                align-self: center;
                white-space: nowrap;
                font-size: 18px;

                @include respond-to(md) {
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                @include respond-to(sm) {
                    font-size: 14px;
                }
            }


            .input__wrapper {
                position: relative;

                &:not(.no-info)::before {
                    @include respond-to(md) {
                        font-size: 14px;
                        content: 'EN';
                        position: relative; 
                        left: 0%;
                        top: 0px;
                        transform: translate(0, -50%);
                    }   
                }

                @include respond-to(md) {
                    margin-bottom: 30px;
                }

                &:nth-of-type(2):not(.no-info)::before {
                    @include respond-to(md) {
                        content: 'RU';
                    }
                }

                &.error {
                    & label::before {
                        content: '* ';
                        color: red;
                    }
                }


                &.error {
                    border: 1px solid red;
                }

            }

            &.multi {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                //gap: 30px;
                
                & .input__wrapper {
                    margin-bottom: 20px;
                    width: 30%;

                    & .selector {
                        flex-direction: column;

                        & label {
                            align-self: flex-start;
                        }

                        & select {
                            padding-top: 5px;
                            padding-bottom: 5px;
                            width: 100%;
                            margin-left: 0;
                            font-weight: 500;
                        }
                    }

                    @include respond-to(lg) {
                        width: 45%;
                    }

                    
                     @include respond-to(xs) {
                        width: 100%;
                    }

                }

            }


            &:nth-of-type(3) {
                & textarea {
                    height: 250px;
                }
            }

            &:nth-of-type(4) {
                & textarea {
                    height: 100px;
                }
            }


        }



        & .mods {

        }



        & .section-header {
            text-align: center;
            margin-left: 0;
            margin-top: 70px;
            color: var(--text);
        }

        & > .drop-area {
            margin-top: 30px;
            justify-content: center;
            flex-wrap: wrap;
            padding: 15px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 50px;

            @include respond-to(sm) {
                padding: 30px;
                width: 100%; 
            }

            @include respond-to(xs) {
                padding: 20px;
            }


            & > input {
                display: none;
            }

            & .preview-gallery {
                margin-top: 0;
                margin-top: 20px;
                margin-left: 30px;
                & > div {
                    width: 110px;

                    & img {
                        object-fit: contain;
                    }
                }
            }
        }


        & .colors-picker {
            width: 90%;
            background-color: var(--main_vv);
            border-radius: 5px;
            padding: 30px 20px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            justify-content: center;
            gap: 30px;
            max-height: 500px;
            overflow-y: auto;
            
            
            & .fiber__container {
                max-width: 80px;
                position: relative;
                display: flex;
                flex-direction: column;

               @include respond-to(sm) {
                    max-width: 50px;
               }
                
                & .image__container {
                    width: 100%;
                    aspect-ratio: 1;
                    border-radius: 5px;
                    overflow: hidden;
                    cursor: pointer;
                    
                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    &.selected {
                        border: 3px solid $black;
                    }
                }

                & > span {
                    display: block;
                    margin-top: 10px;   
                    font-size: 14px;
                    word-break: break-word;
                    color: var(--text_vv);
                    @include respond-to(sm) {
                        font-size: 10px;
                   }
                }

                & .buttons_control {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: auto;

                    & .button_blue {
                        padding: 2px 5px;
                        min-height: 20px;

                    }

                    & .delete {
                        /*height: 20px;
                        width: 20px;
                        display: flex;
                        //place-items: center;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        border: 1px solid var(--main);
                        background-color: var(--main);
                        position: absolute;
                        top: -10px;
                        right: -10px;
        
                        & > span {
                            font-size: 22px;
                        }*/
                    }
                }

            }


        }




        & .input-block_header {
            margin-top: 30px;
            @include respond-to(md) {
                display: none;
            }
        }



        & .full-width {
            grid-column: 1 / -1;

            
            @include respond-to(md) {
                grid-column: 1 / -1;

            }
        }

        & .add {
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            background-color: var(--main_vv);

            @include respond-to(xs) {
                width: 100%;
                display: grid;
                place-items: center;
            }
        }



        & .change-images {
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;
            background-color: var(--main_vv);
        }

        
        & .post {
            margin-left: auto;
            margin-top: 30px;
            width: fit-content; 
            background-color: var(--main_vv);
            &:disabled {
                opacity: 0.4;
            }

            @include respond-to(xs) {
                width: 100%;
                display: grid;
                place-items: center;
            }
        }



        & input, textarea {
            //color: $black;
            width: 100%;
            font-size: 18px;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 4px;
            //background-color: var(--inputs-bg);
            border: 1px solid var(--main_vv);
            background-color: var(--text_contrast);
            color: var(--text);
            transition: background-color 1s, border 1s;
            outline: none;
            //border: 2px solid transparent;
            position: relative;
            resize: vertical;

            @include respond-to(sm) {
                font-size: 16px;
            }

            @include respond-to(xs) {
                font-size: 14px;
                padding: 3px 6px;
            }
        }

        & textarea {
            height: 100%;
        }
        

    }



}