@use '/src/assets/css/variables' as *;



.svg-icon {
    transition: fill $transition-theme;
    &.minus {
        fill: var(--svg_minus); 
    }
    
    &.plus {
        fill: var(--svg_plus); 
    }
    
    &.pro {
        fill: var(--svg_pro); 
    }
    
    &.con {
        fill: var(--svg_con); 
    }

    &.question {
        fill: var(--svg_question); 
    }
}

