@use '/src/assets/css/variables' as *;

.page_order {
    background-color: var(--bg);
    transition: background-color $transition-theme;
    flex-grow: 1;

      
    & h1 {
        text-align: center;
    }

    .cart__content {
        width: 100%;
        margin-top: 60px;

        & h3 {
            color: var(--text);
        }

        & .cart {
            margin-top: 30px;
        }
    }


    & .button_order {
        margin-top: 40px;
        margin-left: auto;

        @include respond-to(sm) {
            margin-top: 30px;
        }

        @include respond-to(xs) {
            width: 100%;
            padding: 6px 20px;
        }
    }


}    

