@use '/src/assets/css/variables' as *;

.page_fibers {
    background-color: var(--bg);
    transition: background-color $transition-theme;
	flex-grow: 1;
	
	& .fiber {
		width: 100%;
	
			& > .block_text {
				//margin-top: 20px;

				& > p > b {
					font-weight: 900;
				}
			}
	
	
		& .fibers__container {
			//margin-top: 30px;
			padding-bottom: 50px;
	
			& .fiber__item {
				margin-top: 200px;
	
				&:first-child {
					margin-top: 100px;
				}
	
				&:last-child > .fiber__descr__container::after {
					display: none;
				}
			}
		}
		
	}
}