@use '/src/assets/css/variables' as *;


.proscons__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 7%;

    @include respond-to(sm) {
        width: 100%;
        grid-template-columns: 1fr;
    }

    @include respond-to(xs) {
    }

    & > ul {
        //width: 45%;
        font-size: 18px;

        @include respond-to(sm) {
            width: 100%;
            font-size: 16px;
        }

        @include respond-to(xs) {
            width: 100%;
            //font-size: 14px;
        }
    }

    & .pros, & .cons {
        & li {
            position: relative;
            margin-left: 25px;
            margin-top: 10px;
            &::before {
                position: absolute;
                left: -25px;
                //transform: translate(0, -50%);
                top: .25rem;
                display: inline-block;
                content: '';
                height: 20px;
                width: 20px;
                background-size: 100% 100%;
            }
        }
    }



    & .pros li::before {
        background-image: url('../../assets/img/icon_pro.png');
    }
    
    
    & .cons {

        @include respond-to(sm) {
            margin-top: 20px;
        }

        li::before {
            background-image: url('../../assets/img/icon_con.png');
            background-size: 80% 80%;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    
}

