@use "/src/assets/css/variables" as *;


.catalog-intro {
    text-align: center;
    margin-top: 60px;

    h1 {
        color: var(--main_vv);
    }

    .descr {
        display: flex;
        align-items: center;
        padding-top: 40px;

        @include respond-to(sm) {
            flex-direction: column;
        }

        & h2 {
            color: var(--main_vv);
        }

        & > img {
            max-width: 45%;
            border-radius: 15px;

            @include respond-to(sm) {
                max-width: 400px;
                width: 100%;
            }
        }

        & .descr__text {
            max-width: 50%;
            margin-left: clamp(40px, 5%, 80px);

            @include respond-to(sm) {
                max-width: none;
                margin-top: 30px;
            }

            & ul {
                margin-top: 20px;
                text-align: left;
                list-style-type: disc;

                & > li {
                    margin-top: 10px;
                    font-size: 18px;
                }
            }
        }
        
    }
    
}