@use '/src/assets/css/variables' as *;

.page_home {
    background-color: var(--bg);
    transition: background-color $transition-theme;
    flex-grow: 1;
    
    & .page_home {


        & .slider__container {
            margin-top: 50px;
            height: 400px;
            position: relative;

            @include respond-to(md) {
                height: 320px;
            }

            @include respond-to(sm) {
                height: 250px;
            }

            @include respond-to(xs) {
                height: 170px;
            }

        }


        & h2 {
            margin-top: 80px;
            //font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: var(--main_vv);

        }

        & .news {
            margin-top: 30px;
        }
    }
}