@use "/src/assets/css/variables" as *;



.cart-adder {

    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    @include respond-to(md) {
        flex-wrap: wrap;
    }

    & > span:first-of-type {
        font-size: 22px;
        font-weight: 700;
    }


    & .amount-changer__container {
            margin-left: 20px;
            margin-right: 20px;
        & input {
            font-size: 22px;

            @include respond-to(sm) {
                font-size: 20px;
            }
        }
    }

    & .button_news {
        justify-content: center;
        padding: 10px 40px;
        position:initial;

        @include respond-to(md) {
            margin-top: 20px;
            width: 100%;
        }

        @include respond-to(sm) {
            width: 65%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }
    

}