@use "/src/assets/css/variables" as *;



.cart-adder {

    width: 100%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    @include respond-to(md) {
        flex-wrap: wrap;
    }

    & > span:first-of-type {
        font-size: 22px;
        font-weight: 700;
    }

    /*& input {
        font-size: 24px;
        padding-right: 5px;
        font-weight: 700;
        outline: none;
        width: 50px;
        text-align: end;
        border: 1px solid var(--main_vv);
        background-color: var(--text_contrast);
        color: var(--text);
        transition: color 1s, background-color 1s;
        border-radius: 5px;
    }

    &  .amount-changer {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 28px;
        font-weight: 800;
        cursor: pointer;
        transition: color 1s, background-color 1s;

        &:nth-of-type(1) {
            margin-left: 20px;
            margin-right: 5px;
        }

        &:nth-of-type(2) {
            margin-left: 5px;
            margin-right: 20px;
        }

    }*/

    & .amount-changer__container {
            margin-left: 20px;
            margin-right: 20px;
        & input {
            font-size: 24px;
        }
    }

    & .button_news {
        justify-content: center;
        padding: 10px 40px;

        @include respond-to(md) {
            margin-top: 20px;
            width: 100%;
        }

        @include respond-to(sm) {
            width: 65%;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }
    

}