@use "/src/assets/css/variables" as *;


.splider_single__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    
    & > .splider_single {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        flex-grow: 1;
        max-height: 90%;

        @include respond-to(sm) {
            height: 50vw;
        }

        & * {
            transition: none;
        }
        
        & .splide__arrows { 
            width: 100%;
            position: absolute;
            top: calc(100% + 5px);
            height: fit-content;

            & .splide__arrow {
                background-color: transparent;
                transition: $transition_base;
                //height: 100%;
                border-radius: 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                transform: translate(0, 0);

                &:disabled {
                    width: 0;
                }
                
                & > svg {
                    width: 50px;
                    height: auto;
                    fill: var(--main_vv);
                    transition: $transition_base;
                }
                &:hover {
                    & svg {
                        fill: var(--main_vv);
                    }
                }
 

                &--prev:hover {
                    & svg {
                        translate: -10px;
                    }
                }
                &--next:hover {
                    & svg {
                        translate: 10px;
                    }
                }
            }
        }


        & .splide__track {
            height: 100%;
            & > ul {
                width: 100%;
                
                &  > li {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;                   
                }
            }
        }


        & .splide__pagination--custom {
           bottom: unset;

            @include respond-to(xs) {
                //display: none;
            }

            & .splide__pagination__page  {
                font-size: 20px;
                background-color: transparent;
                margin: 0px 12px;
                height: auto;
                width: auto;
                color: var(--main_vv);
                font-weight: 700;

                @include respond-to(xs) {
                    width: 15px;
                    height: 15px;
                    margin: 10px;
                }


                &.is-active {
                    font-size: 32px;
                    opacity: 1;
                    font-weight: 800;
                    transform: none;
                    color: var(--lang-text_add);
                    //background-color: rgba(var(--main_vv_RGB), 0.95);
                }
            }
        }
    }
}
    
