@use "/src/assets/css/variables" as *;

/*
.splider_portfolio__modal {
    max-width: 80%;
    height: 80%;

    @include respond-to(sm) {
        max-width: 90%;
    }
}

*/
.splider_preview {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border: 1px solid red;

    @include respond-to(sm) {
        flex-direction: column-reverse;
    }
    
    & #modalMain {
        width: 80%;
        height: calc(100%);
        position: relative;
        max-height: 300px;

        &::before {
            content: '';
            position: absolute;
            left: -3%;
            height: 50%;
            width: 2px;
            background-color: var(--main_vv);
            top: 50%;
            transform: translate(-50%, -50%);

            @include respond-to(sm) {
                display: none;
            }
        }

        @include respond-to(sm) {
            width: 100%;
        }

        & .splide__arrows { 
            width: 100%;
            height: 100%;
            position: absolute;

            @include respond-to(sm) {
                display: none;
            }

            & .splide__arrow {
                display: none;

                background-color: transparent;
                transition: $transition_base;
                //height: 100%;
                border-radius: 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                bottom: 5px;
                top: auto;

                &:disabled {
                    width: 0;
                }
                
                & > svg {
                    width: 50px;
                    height: auto;
                    fill: var(--main);//map.get($dark, "arrow_splide");
                    transition: $transition_base;
                }

                &:hover {
                    & svg {
                        fill: var(--main_vv);//map.get($dark, "nav_selected");
                    }
                }

                &--prev:hover {
                    & svg {
                        translate: -10px;
                    }
                }

                &--next:hover {
                    & svg {
                        translate: 10px;
                    }
                }
            }
        }


        & .splide__track {
            height: 100%;

            & .splide__slide {
                display: flex;
                align-items: flex-start;
                justify-content: center;

                & img {
                    /*max-height: 100%;
                    width: 100%;
                    object-fit: contain; */
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        

    }


    & #modalThumbs {
        width: 15%;
        height: 100%;
        //padding-top: 5%;
        //overflow-y: hidden;
        //max-height: 100%;
        position: relative;
        display: flex;
        align-items: center;

        @include respond-to(sm) {
            margin-top: 50px;
            width: 100%;
        }

       
        & .splide__arrows { 
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;

            @include respond-to(sm) {
                //display: none;
                height: auto;

                top: -25px;
            }

            & .splide__arrow {
                background-color: transparent;
                transition: $transition_base;
                //height: 100%;
                border-radius: 0;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                //bottom: 5px;
                //top: auto;

                &:disabled {
                    width: 0;
                }
                
                & > svg {
                    width: 50px;
                    height: auto;
                    fill: var(--main);//map.get($dark, "arrow_splide");
                    transition: $transition_base;
                }

                &:hover {
                    & svg {
                        fill: var(--main_vv);//map.get($dark, "nav_selected");
                    }
                }

                &--prev:hover {
                    & svg {
                        translate: 0px -10px;
                    }
                }

                &--next:hover {
                    & svg {
                        translate: 0px 10px;
                    }
                }
            }
        }

        .splide__track {

            & .splide__slide {
                //opacity: 0.4;
                filter: brightness(1);
                display: flex;
                align-items: center;
                justify-content: center;
                max-height: 100px;
                min-width: 100px;
                min-width: auto;
                min-height: auto;
    
                &.is-active {
                    //opacity: 1;
                    filter: brightness(1);
                    border: none;
                    border: 1px solid var(--main_vv);
                }
    
                & img {
                    /*max-height: 100%;
                    width: 100%;
                    object-fit: contain; */
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }
            }
        }
       
        

    }

}

