@use '/src/assets/css/variables' as *;

$gap_to_text: 5px;

.nav_desktop {
    //border: 1px solid red;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: clip;
    overflow-y: visible;

    @include respond-to(sm) {
        display: none;
    }


    & .nav__container {
        //border: 2px solid green;
        //overflow: hidden;
        height: 100%;
        display: flex;
        align-items: center;
        transform: translateX(calc(100% - 70px)); 
        transition: $transition_nav;
        background-image: url('../../assets/img/nav_line_down.png');
        background-size: 10px;
        background-repeat: repeat-x;
        
        & > ul {
            margin-left: $gap_to_text;
            height: 100%;
            margin-right: 110px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
            font-weight: 600;

            @include respond-to(md) {
                gap: 30px;
            }
    
    
            & > li {
                font-size: 1.4rem;
                position: relative;

                @include respond-to(md) {
                    font-size: 1.2rem;
                }

                &::before, &::after {
                    content: '';
                    top: 100%;
                    width: 3px;
                    height: 0;
                    background-color: var(--main_vv);
                    position: absolute;
                    transition: all $transition_subMenu 2*$transition_subMenu;
                    border-radius: 2px;
                    transform-origin: 0 0;
                }

                &::before {
                    left: -$gap_to_text;
                    transform-origin: 0 0;
                }

                &::after {
                    right: -$gap_to_text;
                    transform-origin: 100% 0;
                }

                & > a {
                    position: relative;
                    color: var(--text);
                    text-transform: uppercase;
                    transition: all $transition_subMenu;
                    display: block;
                    font-weight: 700;

                    &::before, &::after {
                        content: '';
                        bottom: 0;
                        width: calc(50% + $gap_to_text);
                        height: 3px;
                        background-color: var(--main_vv);
                        position: absolute;
                        transition: all $transition_subMenu 2*$transition_subMenu;
                        border-radius: 2px;
                        transform-origin: 0 0;
                    }

                    &::before {
                        left: -$gap_to_text;
                        transform-origin: 0 0;
                    }

                    &::after {
                        right: -$gap_to_text;
                        transform-origin: 100% 0;
                    }

                    

                    &.selected {
                        color: var(--text_contrast);
                    }


                }


                & > ul.sub_menu {
                    position: absolute;
                    background-color: var(--main);;
                    left: 50%;
                    transform-origin: top center;
                    transform: translate(-50%, 0);
                    transition: width $transition_subMenu, transform $transition_subMenu, grid-template-rows $transition_subMenu $transition_subMenu;
                    width: 100%;
                    box-sizing: border-box;
                    display: grid;
                    grid-template-rows: 0fr;
                    overflow: hidden;
                    
                    
                    & > .submenu__content {
                        min-height: 0;
                        padding-left: 20px;
                        padding-right: 20px;
                        overflow: hidden;
                        border: 0px solid transparent;
                        transition: border $transition_subMenu 1*$transition_subMenu, padding $transition_subMenu 1*$transition_subMenu, margin $transition_subMenu $transition_subMenu;

                        
                        & > li {
                            display: block;
                            position: relative;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 0;
                            overflow: hidden;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transition: width $transition_subMenu 0s;
                            margin-top: 10px;

    
                            & > a {
                                //text-transform: uppercase;
                                display: block;
                                white-space: nowrap;
                                text-align: center;
                                /*transform: scaleX(0);
                                transition: transform $transition_subMenu 0s;*/

                                &:hover {
                                    color: var(--text_vv);
                                    transition: color $transition_fast;
                                }
                            }
                        }
                    }
    
    
                }
                





                &.extandable:hover {
                    &::before,&::after {
                        height: 100%;
                        top: 0;
                        transition: all $transition_subMenu;
                    }

                    & > a {
                        &::before, &::after {
                            width: 0;
                            transition: all $transition_subMenu;
                        }
                        
                    }

                    & > ul.sub_menu {
                        grid-template-rows: 1fr;
                        transform: translate(-50%, 0px);
                        width: 240px;
                        transition: transform $transition_subMenu $transition_subMenu, grid-template-rows $transition_subMenu $transition_subMenu, width $transition_subMenu 2*$transition_subMenu;
                        
                        & > .submenu__content {
                            padding-top: 20px;
                            margin-top: 23px;
                            border-right: 3px solid var(--main_vv);
                            border-left: 3px solid var(--main_vv);
                            border-bottom: 3px solid var(--main_vv);
                            padding-bottom: 30px;
                            transition: padding $transition_subMenu 1*$transition_subMenu, margin $transition_subMenu $transition_subMenu, border 0s $transition_subMenu;

                            & > li {
                                width: 100%;
                                transition: width $transition_subMenu 2*$transition_subMenu;

                                & > a {
                                    /*transform: scaleX(1);
                                    transition: transform $transition_subMenu 2*$transition_subMenu;*/
                                }
                            }
                        }

        
                    }

                }

            }

        }

        .cart-informer__container {
            position: absolute;
            top: -8px;
            right: -15px;
            height: 20px;
            width: 20px;
        }


        
    }
    
    & .nav__switcher {
        position: absolute;
        right: 0;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .text-hider {
            position: absolute;
            width: 100%;
            height: 70%;
            background-color: var(--main);
            transition: background-color $transition-theme;

        }
        
        & > label {
            z-index: 200;
            height: 100%;
            margin-left: 5px;
            margin-bottom: 5px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            
            & > input {
                visibility: hidden;
                position: absolute;
            }
            
            & > img {
                height: 100%;
                transform: rotate(13deg);
                transition: $transition_nav;
            }


            & .nav__sign {
                height: 50px;
                position: absolute;
           
                span {

                    margin: 0 auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                
                    transition-duration: 0s;
                    transition-delay: 0.5s;
                
                    &:before,
                    &:after {
                        position: absolute;
                        content: '';
                        /*transition-property: margin, transform;
                        transition-duration: 0.5s;
                        transition-delay: 0.5s, 0s;*/
                        transition: margin 0.5s 0.5s, transform 0.5s 0s;
                    }
                
                    &:before { margin-top: -10px; }
                    &:after { margin-top: 10px; }

                }
            
                span,
                span:before,
                span:after {
                    width: 30px;
                    height: 3px;
                    background-color: #000;
                    display: block;
                    //transition-delay: 0s, 0.5s;
                    border-radius: 2px;
                }
            }


        }
    }


    &.opened {
        .band {
            left: 0;
        }
        
        & .nav__container {
            width: auto; 
            transform: translateX(0);
        } 

        & .nav__switcher > label {
            
            & .nav__sign {
                & span {
                    transition-delay: 0.5s;
                    background-color: rgba(0,0,0,0);

                    &:before {
                        margin-top: 0;
                        transform: rotate(45deg);
                        transition-delay: 0s, 0.5s;
                    }
                
                    &:after {
                        margin-top: 0;
                        transform: rotate(-45deg);
                        transition-delay: 0s, 0.5s;
                    }
                }

            
            }
            
            & > img {
                transform: rotate(-840deg);
            }
            
        }
        
        
    }


}





















































.nav_mobile {
    height: 100%;
    display: none;
    align-items: center;

    @include respond-to(sm) {
        display: flex;
    }

    & > .blur {
        height: 0;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: -1;
        position: absolute;
        background-color: rgba(#333, 0);
        transition: background-color $transition_nav 0s, height $transition_nav $transition_nav-time;
    }


    & .nav__container {
        position: absolute;
        top: 100%;
        left: 0;
        transform: translateY(-100%);
        display: flex;
        align-items: stretch;
        transition: transform $transition_nav $nav_mobile_delay, background-color $transition_theme;
        width: calc(100% - 20px * 2);
        background-color: var(--main);
        margin-left: 20px;
        margin-right: 20px;
        z-index: -1;
        height: auto;
        width: calc(100% - 40px);



        & > .right-line {
            width: 10px;
            margin-left: auto;
            z-index: 7000;
            position: absolute;
            right: 0px;
            height: 100%;
        }

        & > ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-weight: 600;
            //padding-top: 80px;
            padding-bottom: 20px;
            height: 100%;
            width: 100%;
            border-left: 4px solid var(--main_vv);
            border-bottom: 4px solid var(--main_vv);
            border-top: 2px solid var(--main_vv);
            //box-shadow: 0px 0px 3px 0px var(--main_vv);;

            &::before {
                content: '';
                height: 70px;
                width: 80%;
                margin-top: 40px;
                margin-bottom: 20px;
                background-color: var(--main_vv);
                transition:  background-color $transition_theme;
                border-radius: 40px;
            }
    
    
            & > li {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                
                & > a, span {
                    text-align: center;
                    font-size: 2.4rem;
                    position: relative;
                    transition: 1s;
                    color: var(--text);
                    transition: color $transition-theme;
                    text-transform: uppercase;
                    transition: $transition_nav_menu;
                    display: block;
                    cursor: pointer;

                    @include respond-to(xs) {
                        font-size: 1.8rem;
                    }
                    
                    &:hover {
                        color: var(--text_contrast);
                        transition: color $transition-theme;
                        //transform: translateY(12px);
                    }

                    &.selected {
                        color: var(--text_contrast);
                        transition: color $transition-theme;
                        text-decoration: underline;
                    }
                }


                & > span {
                    
                    &::before, &::after {
                        content: '';
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        left: 7%;
                        top: 50%;
                        transform: translate(-50%, -75%) rotate(-45deg);
                        border-left: 3px solid var(--text);
                        border-bottom: 3px solid var(--text);
                        transition: transform $transition_fast, border $transition_theme;
                        
                        @include respond-to(xs) {
                            height: 10px;
                            width: 10px;
                        }
                    }

                    &::after {
                        right: 7%;
                        left: initial;
                    }


                }

                & > ul {
                    overflow: hidden;
                    display: grid;
                    grid-template-rows: 0fr;
                    transition: grid $transition_fast;
                    
                    & > .nav__subNav {
                        overflow: hidden;
                        max-height: 40vh;
                        overflow: auto;

                        & > li {
                            margin-top: 20px;
                            text-align: center;
                            width: 100%;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                top: -10px;
                                left: 50%;
                                width: 60%;
                                border-top: 1px dotted var(--text);
                                transform: translate(-50%);
                            }

                            & > a, span {
                                text-align: center;
                                font-size: 1.5rem;
                                position: relative;
                                transition: 1s;
                                color: var(--text);
                                transition: color $transition-theme;
                                text-transform: uppercase;
                                transition: $transition_nav_menu;
                                display: block;
                                cursor: pointer;
            
                                @include respond-to(xs) {
                                    font-size: 1.2rem;
                                }
                                
                                &:hover {
                                    color: var(--text_contrast);
                                    transition: color $transition-theme;
                                    //transform: translateY(12px);
                                }
            
                                &.selected {
                                    color: var(--text_contrast);
                                    transition: color $transition-theme;
                                    font-weight: 800;
                                }
                            }
                        }
                    }

                }


                &.expanded {
                    & > span {
                        &::before, &::after {
                            transform: translate(-50%, -25%) rotate(-45deg) scale(-1);
                        }

                    }

                    & > ul {
                        grid-template-rows: 1fr;
                    }
                }
            }

            & > .line {
                width: 20%;
                height: 2px;
                background-color: var(--main_vv);

                &:last-child {
                    display: none;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: -10px;
            height: calc(100% + $header_height);
            transform: translateY(-100%);
            transition: $transition_nav;
            width: 10px;
            background-color: var(--main);
            background-image: url('../../assets/img/nav_line_right.png');
            background-size: 8px;
            background-repeat: repeat-y;
            background-position-x: right;
            z-index: 100;
        }

    }
    
    & .nav__switcher {
        right: 0;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .text-hider {
            position: absolute;
            width: 100%;
            height: 70%;
            background-color: var(--main);
            transition: background-color $transition-theme;

        }
        
        & > label {
            z-index: 200;
            height: 100%;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-to(sm) {
                position: relative;
                left: 5px;
            }

            
            & > input {
                visibility: hidden;
                position: absolute;
            }
            
            & > img {
                height: 100%;
                transform: rotate(13deg);
                transition: $transition_nav;
            }


            & .nav__sign {
                height: 50px;
                position: absolute;
           
                span {
                    margin: 0 auto;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                
                    transition-duration: 0s;
                    transition-delay: 0.5s;
                
                    &:before,
                    &:after {
                        position: absolute;
                        content: '';
                        transition-property: margin, transform;
                        transition-duration: 0.5s;
                        transition-delay: 0.5s, 0s;
                    }
                
                    &:before { margin-top: -10px; }
                    &:after { margin-top: 10px; }

                }
            
                span,
                span:before,
                span:after {
                    width: 30px;
                    height: 3px;
                    background-color: #000;
                    display: block;
                    border-radius: 2px;
                }
            }


        }
    }





    &.opened {
        

        & .blur {
            height: 100vh;
            background-color: rgba(#333, 0.9);
            transition: background-color $transition_nav, height 0s 0s;
        }
        
        & .nav__container {
            transform: translateY(0);
            transition: transform $transition_nav, background-color $transition_theme;
        } 

        & .nav__container_right {
            transform: translateY(-$header_height);
        } 

        & .nav__switcher > label {
            
            & .nav__sign {
                & span {
                    transition-delay: 0.5s;
                    background-color: rgba(0,0,0,0);

                    &:before {
                        margin-top: 0;
                        transform: rotate(45deg);
                        transition-delay: 0s, 0.5s;
                    }
                
                    &:after {
                        margin-top: 0;
                        transform: rotate(-45deg);
                        transition-delay: 0s, 0.5s;
                    }
                }
            }
            
            & > img {
                transform: rotate(540deg);
            }
            
        }
        
        
    }


}