@use "sass:map";
@use "./variables" as *;
@use "./fonts" as *;
@use "./components" as *;

* {
    font-family: Nunito;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    scroll-behavior: smooth;
}


body {
    width: 100%;
    &.noscroll {
        overflow: hidden;
    }
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    font-size: 2.5rem;
    text-align: center;
    transition: color $transition_theme;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main_vv);

    @include respond-to(sm) {
        font-size: 32px;
    }

    @include respond-to(xs) {
        font-size: 28px;
    }
}

h2 {
    font-size: 2rem;
    transition: color $transition_theme;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main_vv);

    
    @include respond-to(sm) {
        font-size: 26px;
    }

    @include respond-to(xs) {
        font-size: 22px;
    }
}

h3 {
    font-size: 1.5rem;
    transition: color $transition_theme;
    color: var(--main_vv);

    @include respond-to(sm) {
        font-size: 22px;
    }

    @include respond-to(xs) {
        font-size: 20px;
    }
}

span {
    transition: color $transition_theme;
    color: var(--text);
    font-size: 16px;
    
    @include respond-to(xs) {
        font-size: 14px;
    }

}

label {
    transition: color $transition_theme;
    color: var(--text);
}

select {
    background-color: var(--text_contrast);
    color: var(--text);
    transition: color $transition_theme, background-color $transition_theme;
    cursor: pointer;
}

ul {
    list-style-type: none;

    & > li {
        transition: color $transition_theme;
    }
} 


a {
    text-decoration: none;
    color: var(--text);
    transition: color $transition_theme;
}

sup {
    transition: color $transition_theme;
}

p {
    font-size: 18px;
    text-indent: 3rem;
    transition: color $transition_theme;
    margin-top: 20px;

    @include respond-to(xs) {
        font-size: 16px;
    }

    &:first-of-type {
        margin-top: 0px;
    }
}

.container_page {
    width: 100%;
    flex-grow: 1;
    padding-top: 100px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--text);
}


.block_text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    overflow-wrap: break-word;

    @include respond-to(sm) {
        width: 90%;
    }

    @include respond-to(xs) {
        width: 100%;
    }

    & > p:first-of-type {
        margin-top: 40px;
    }
}

.no-display {
    display: none !important;
}


.page {
    background-color: var(--bg);
    transition: background-color 1s;
    flex-grow: 1;
}


button {
    cursor: pointer;
}


.incorrect-value {
    &::after {
        content: attr(data-error-text);
        font-size: 14px;
        color: var(--text);
        position: absolute;
        top: calc(100%);
        left: 0;
        font-weight: 600;
    }

    & > input, textarea {
        animation: inputshake 0.2s ease-in-out 0s 2;
        background-color: rgb(238, 167, 167) !important;
    }
}

@keyframes inputshake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}


[data-selector=input-block] {
    position: relative;
}


