@use "./variables" as *;

.button_nostyle {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.button_blue {
    align-self: flex-start;
    padding: 8px 50px;
    border-radius: $brad_lg;
    color: var(--text);
    background-color: var(--main);
    transition: background-color $transition_theme, color $transition_theme, box-shadow $transition_fast;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px; 
    //min-height: 1rem;
    justify-content: center;
    @include fs_base;

    @include respond-to(md) {
        padding: 6px 40px;
    }

    @include respond-to(sm) {
        padding: 6px 40px;
    }

    @include respond-to(xs) {
        padding: 3px 20px;
    }

    &:hover {
        box-shadow: 0px 0px 15px 0px var(--main);
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &.color_reverse {
        color: var(--text_reverse);
        background-color: var(--main_em);
        
        &:hover {
            box-shadow: 0px 0px 15px 0px var(--main_em);
        }
    }
}


.button_light {
    background-color: var(--inputs-bg);
    color: $black;

    &:hover {
        box-shadow: 0px 0px 20px var(--inputs-bg)
    }
}




.button_back {
    padding: 8px 20px 8px 60px;

    & > svg  {
        max-height: 80%;
        left: 0;
        margin-left: 25px;
        fill: var(--text);
        position: absolute;
        transition: margin .2s;
        transform: rotate(180deg);
    }

    &:hover {
        & > svg {
            margin-left: 15px;
        }
    }
}




.form_full {
    padding: 30px 40px 40px;
    margin: 40px auto 0;
    width: 85%;
    border-radius: $brad_lg;
    background-color: var(--main);
    transition: background-color $transition_theme;
    box-shadow: 5px 4px 6px 2px rgba(#000, 0.25);

    @include respond-to(md) {
        width: 90%;
    }

    @include respond-to(sm) {
        padding: 50px 20px;
        width: 100%;
    }

    @include respond-to(xs) {
        padding: 50px 20px;
    }


    & section {
        margin-top: 60px;
    }

    & .block_text  {
        &:not(:first-child) {
            margin-top: 60px;
        }

        & h2, h3 {
            text-align: center;
            color: var(--text);
            font-family: Nunito;
        }
    }




    & .form__inputs {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        //margin-top: 20px;
        
        
        @include respond-to(sm) {
            flex-direction: column;
            //margin-top: 10px;
        }
        
        @include respond-to(xs) {
            //margin-top: 20px;
        }

        & .block_inputs_3 {
            margin-top: 20px;
        }
    

        & .form__inputs__texts {
            width: 47%;
            display: flex;
            flex-direction: column;

            
            @include respond-to(sm) {
                width: 100%;
            }
        }


        & > .form__inputs__files {
            width: 47%;
            
            @include respond-to(sm) {
                width: 100%;
            }
            
            & .block_input.files {
                height: 100%;
                display: flex;
                flex-direction: column;   
            }
        }


        & > .block_input {
            width: 47%;
            //border: 2px solid red;
            display: flex;
            align-items: stretch;
            flex-direction: column;

            & > textarea {
                flex-grow: 1;
            }
        }



        &_sm-wide {
            @include respond-to(sm) {
                flex-direction: row;
            }
            @include respond-to(xs) {
                flex-direction: column;
            }

            & > .block_input {
                @include respond-to(xs) {
                    width: 100%;
                }
            }
        }
    }

    & .files-adder, .picker, .cart {
        margin-top: 20px;
    }



    & > button {
        @extend .button_blue;
        @extend .button_light;
        margin-left: auto;
        margin-top: 40px;
            
        @include respond-to(sm) {
            margin-top: 30px;
        }

        @include respond-to(xs) {
            width: 100%;
            margin-top: 50px;
            padding: 6px 20px;
            width: 100%;
        }
    }

}




.block_inputs_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    & > .block_input {
        width: 30%;

        @include respond-to(sm) {
            width: 47%;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }
}

.block_inputs_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;


    & > .block_input {
        width: 22%;

        @include respond-to(md) {
            width: 47%;
        }

        @include respond-to(sm) {
            width: 47%;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }
}


.block_inputs_mixed {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;


    & > .block_input {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        width: 30%;

        @include respond-to(sm) {
            width: 47%;
        }

        @include respond-to(xs) {
            width: 100%;
        }
    }
}









