@use "./variables" as *;

.button_blue {
    align-self: flex-start;
    padding: 8px 50px;
    border-radius: 10px;
    color: var(--text);
    background-color: var(--main);
    transition: background-color $transition_theme, color $transition_theme, box-shadow $transition_fast;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px; 

    &:hover {
        box-shadow: 0px 0px 15px 0px var(--main);;
    }
}

.button_news {
    align-self: flex-start;
    padding: 8px 60px 8px 20px;
    border-radius: 10px;
    color: var(--text);//;
    background-color: var(--main);
    transition: background-color $transition_theme, color $transition_theme, box-shadow $transition_fast;
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;


    & > svg  {
        max-height: 80%;
        right: 0;
        margin-right: 25px;
        fill: var(--text);
        position: absolute;
        transition: margin .2s;
    }

    &:hover {
        & > svg {
            margin-right: 15px;
        }
        box-shadow: 0px 0px 15px 0px var(--main);;
    }
    
}



.button_order {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--inputs-bg);
    font-size: 18px;
    letter-spacing: 0.1rem;
    padding: 12px 10%;
    border: none;
    border-radius: 4px;
    color: $dark;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: box-shadow $transition_fast, background-color $transition_theme;


    &:hover {
        box-shadow: 0px 0px 20px var(--main_vv)
    }
}



.button_back {
    padding: 8px 20px 8px 60px;


    & > svg  {
        max-height: 80%;
        left: 0;
        margin-left: 25px;
        fill: var(--text);
        position: absolute;
        transition: margin .2s;
        transform: rotate(180deg);
    }

    &:hover {
        & > svg {
            margin-left: 15px;
        }
    }
}


.card {
    width: 100%;
    border: 1px solid var(--main);
    transition: border $transition_theme;
    border-radius: 5px;
    padding-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: rgba(#286181, 0.1);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;

    @include respond-to(xs) {
        max-width: none;
        //margin-left: 0px;
        //margin-right: 0px;
    }

    &:hover {
        border-color: 1px solid var(--main_vv);
        transition: border $transition_fast;
    }
}









