@use "./variables" as *;

.button_link {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.button_blue {
    align-self: flex-start;
    padding: 8px 50px;
    border-radius: $brad_lg;
    color: var(--text);
    background-color: var(--main);
    transition: background-color $transition_theme, color $transition_theme, box-shadow $transition_fast;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px; 
    min-height: 40px;
    justify-content: center;

    @include respond-to(sm) {
        font-size: 1rem;
        padding: 6px 40px;
    }

    @include respond-to(xs) {
        font-size: .9rem;
        padding: 3px 20px;
    }

    &:hover {
        box-shadow: 0px 0px 15px 0px var(--main);
    }

    &:disabled {
        opacity: .5;
        cursor: not-allowed;
    }

    &.color_reverse {
        color: var(--text_reverse);
        background-color: var(--main_em);
        
        &:hover {
            box-shadow: 0px 0px 15px 0px var(--main_em);
        }
    }
}



.button_order {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--inputs-bg);
    font-size: 18px;
    letter-spacing: 0.1rem;
    padding: 12px 10%;
    border: none;
    border-radius: 4px;
    color: $dark;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    transition: box-shadow $transition_fast, background-color $transition_theme;


    &:hover {
        box-shadow: 0px 0px 20px var(--main_em)
    }
}



.button_back {
    padding: 8px 20px 8px 60px;


    & > svg  {
        max-height: 80%;
        left: 0;
        margin-left: 25px;
        fill: var(--text);
        position: absolute;
        transition: margin .2s;
        transform: rotate(180deg);
    }

    &:hover {
        & > svg {
            margin-left: 15px;
        }
    }
}



.block_input {
    width: 100%;
    position: relative;
    padding-top: 15px;

    &:first-child {
        padding-top: 15px;
    }

    @include respond-to(sm) {
        padding-top: 10px;
    }

    & > label {
        display: block;
        font-size: 1rem;
        transition: color $transition_theme;
        font-weight: 600;
        color: var(--text);
        margin-bottom: 3px;
        
        @include respond-to(sm) {
            font-size: .9rem;
            margin-bottom: 3px;
        }

        @include respond-to(xs) {
            font-size: .8rem;
            margin-bottom: 2px;
        }
    }


    & > input, textarea {
        font-size: 1.1rem;
        width: 100%;
        outline: none;
        padding: 3px 7px;
        background-color: var(--inputs-bg);
        color: $black;
        transition: background-color $transition_theme, border $transition_base;
        border: 2px solid transparent;
        border-radius: $brad_md;
        font-weight: 500;

        @include respond-to(sm) {
            font-size: 1rem;
            padding: 3px 5px;
        }

        @include respond-to(xs) {
            font-size: .8rem;
            padding: 2px 3px;
            border-radius: $brad_sm;
        }

        &:focus{
            border: 2px solid $black;

            @include respond-to(xs) {
                border: 1px solid $black;
            }
        }
    }

    & > textarea {
        min-height: 5rem;
        resize: vertical;
    }

    &.incorrect-value {
        &::after {
            content: attr(data-error-text);
            font-size: .9rem;
            color: var(--text);
            position: absolute;
            top: calc(100%);
            left: 50%;
            transform: translateX(-50%);
            font-weight: 600;
            
            @include respond-to(sm) {
                font-size: .7rem;
            }

            @include respond-to(xs) {
                font-size: .6rem;
            }
        }
    
        & > input, textarea, select {
            animation: inputshake $transition-fast ease-in-out 0s 2;
            background-color: rgb(238, 167, 167) !important;
        }
    }

    @keyframes inputshake {
        0% { margin-left: 0rem; }
        25% { margin-left: 0.5rem; }
        75% { margin-left: -0.5rem; }
        100% { margin-left: 0rem; }
    }


    &.expandable {
        flex-grow: 1;

        & textarea {
            height: calc(100% - 22px); //textarea grows more than space for it
        }
    }
}










