$xl: 1600px;
$lg: 1241px;
$md: 992px;
$sm: 768px;
$xs: 480px;

$black: #000;
$white: #FFF;
$color_input_error: #ffa0a0;


$text_basic: #333;
$text_selected: #EEE;
$blue_light_1: #3D89B4;
$bg: #F4EDDD;

$nav: #333;
$nav_selected: #EEE;

$transition_nav: .5s ease-in-out;
$transition_nav-time: .5s;
$transition_fast: .2s;
$transition_base: .5s;
$transition_nav_menu: .5s ease-in-out;
$transition-theme: 1s;
$transition_gallery: 0.2s ease-out;
$light: #EBEBEB;
$dark: #286181;
$color_error: red;
$color_danger: red;
$color_success: green;
$header_height: 80px;
$nav_height: 550px;

body {
    --main: rgb(100, 181, 245);
    --main_RGB: 100, 181, 245;
    --main_vv: rgb(7, 113, 184);
    --main_vv_RGB: 7, 113, 184;
    --bg: #EBEBEB;
    --text: #1F2833;
    --text_vv: #EBEBEB;
    --text_contrast: #F3F3F3;
    --inputs-bg: #EBEBEB;
    --lang-selector: #EBEBEB;
    --lang-text: #286181;
    --lang-text_add: #286181;
 }
 body.dark {
    --main: rgb(7, 113, 184);//rgb(13, 96, 173);
    --main_RGB: 7, 113, 184;
    --main_vv: rgb(100, 181, 245);    
    --main_vv_RGB: 100, 181, 245;
    --bg: #1F2833;
    --text: #EBEBEB;
    --text_vv: #1F2833;
    --text_contrast: #1F2833;
    --inputs-bg: #d6e3e6;
    --lang-selector: #EBEBEB;
    --lang-text: #286181;
    --lang-text_add: #EBEBEB;
 }


@mixin  respond-to($width) {
    @if $width == xs { 
        @media (max-width: $xs) { @content } 
    };
    @if $width == sm { 
        @media (max-width: $sm) { @content } 
    };
    @if $width == md { 
        @media (max-width: $md) { @content } 
    };
    @if $width == lg { 
        @media (max-width: $lg) { @content } 
    };
    @if $width == xl { 
        @media (max-width: $xl) { @content } 
    }
}