$xl: 1600px;
$lg: 1241px;
$md: 992px;
$sm: 768px;
$xs: 480px;

$black: #000;
$white: #FFF;
$theme-sw-blue: rgb(22, 100, 216);
$theme-sw-sun: gold;
$theme-sw-moon: #f7f7f7;;



$text_basic: #333;
$text_selected: #EEE;
$blue_light_1: #3D89B4;
$bg: #F4EDDD;

$nav: #333;
$nav_selected: #EEE;

$transition_nav: 1s ease-in-out;
$transition_nav_menu: .5s ease-in-out;
$transition-theme: 1s;

body {
    --main: #409BCE;
    --main_vv: #286181;
    --bg: #EBEBEB;
    --text: #1F2833;
    --text_contrast: #F3F3F3;
 }
 body.dark {
    --main: #286181;
    --main_vv: #409BCE;
    --bg: #1F2833;
    --text: #EBEBEB;
    --text_contrast: #1F2833;
 }


@mixin  respond-to($width) {
    @if $width == xs { 
        @media (max-width: $xs) { @content } 
    };
    @if $width == sm { 
        @media (max-width: $sm) { @content } 
    };
    @if $width == md { 
        @media (max-width: $md) { @content } 
    };
    @if $width == lg { 
        @media (max-width: $lg) { @content } 
    };
    @if $width == xl { 
        @media (max-width: $xl) { @content } 
    }
}