@use "/src/assets/css/variables" as *;


.page_product-details {
    background-color: var(--bg);
    transition: background-color 1s;

    .details__block {
        display: flex;
        margin-top: 50px;
        //border: 1px solid red;

        @include respond-to(sm) {
            flex-direction: column;
        }

        .details__splider {
            width: 40%;
            aspect-ratio: 1.7;
    
            @include respond-to(md) {
                width: 100%;
            }
    
            @include respond-to(sm) {
                aspect-ratio: initial;
            }
        }

        .details__descr-order {
            max-width: 60%;
            padding: 20px 20px 30px 5%;
        
            
            @include respond-to(sm) {
                padding: 50px 0px 30px;
                max-width: 100%;
            }
        }
    }

}