//@use "sass:map";
@use "/src/assets/css/variables" as *;
//@import '../../../assets/css/base.scss';

.portfolio-list__container {
    display: flex;
    align-items: center;
    margin-right: 50px;
    border-right: 1px solid var(--main_vv);
    padding-right: 30px;
    height: 100%;
    position: relative;

    @include respond-to(sm) {
        border-right: none;
        border-top: 2px solid var(--main_vv);
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 50px;
        padding-bottom: 30px;   
        padding-top: 50px;

        &::after {
            content: '';
            width: 30%;
            height: 1px;
            background-color: var(--main_vv);
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    & .list {
        width: 100%;
        display: inline-block;
        padding: 5px 0px;
        overflow-y: auto;

        @include respond-to(sm) {
            max-height: 400px;
        }
    
        & > ul {
            list-style-type: none;
    
            & > li {
                transition: $transition_base;
                font-size: 20px;
                line-height: 40px;
                cursor: pointer;
                padding-left: 10px;
                padding-right: 10px;
                white-space: nowrap;
                color: var(--text);
                font-weight: 500;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                border-radius: 5px;
                

                @include respond-to(sm) {
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
    
                &:hover {
                    color: var(--main)
                }
    
                &.selected {
                    background-color: var(--main_vv);
                    color: var(--text_vv)
                }
            }
        }
    }
}

