@use '/src/assets/css/variables' as *;


.unauthorized {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    flex-grow: 1;
    transition: background-color $transition_theme;
    
    & p {
        margin-top: 0;
        font-size: 22px;
        font-weight: 600;
        color: var(--main_em);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}