@use '/src/assets/css/variables' as *;

.fiber__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;


    //border: 1px solid red;

    & > .fiber__splide__container {
        height: 25  0px;
        width: 100%;
        //border: 2px solid green;

        & .splide {
            height: 100%;
            
            & .splide__track {
                height: 100%;
    
                //border: 2px solid red;
                & > ul {
                    
                    &  > li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
        
                        & .splide__slide-container {
                            height: 100%;
                            
                            & > img {
                                cursor: zoom-in;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        
    }

    & > .fiber__descr__container {
        position: relative;
       // border: 2px solid yellow;
       
       &::after {
            position: absolute;
            content: '';
            width: 10%;
            border-bottom: 2px solid $blue_light_1;
            bottom: -75px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        & h3 {
            margin-top: 30px;
            text-align: center;
        }

        & p {
            font-size: 1.2rem;
            margin-top: .5rem;
        }

    }
}