@use '/src/assets/css/variables' as *;

.fiber__item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;


    //border: 1px solid red;

    & > .fiber__splide__container {
        height: 300px;
        width: 100%;
        //border: 2px solid green;

        @include respond-to(md) {
            height: 250px;
        }

        @include respond-to(sm) {
            height: 230px;
        }

        & .splide {
            height: 100%;
            
            & .splide__track {
                height: 100%;
    
                //border: 2px solid red;
                & > ul {
                    
                    &  > li {
                        display: flex;
                        align-items: center;
                        justify-content: center;
        
                        & .splide__slide-container {
                            height: 100%;
                            
                            & > img {
                                cursor: zoom-in;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }

            & > .splide__arrows {
                & > .splide__arrow {
                    transition: $transition_fast;
                    & > svg {
                        fill: var(--main);
                    }

                    &:hover {
                        opacity: .8;
                        background-color: var(--main);
                        & > svg {
                            fill: var(--dark);
                        }
                    }

                    &--next:hover {
                        translate: 5px;
                        & > svg {
                            margin-left: 8px;
                        }
                    }

                    &--prev:hover {
                        translate: -5px;
                        & > svg {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        
    }

    & > .fiber__descr__container {
        position: relative;
       // border: 2px solid yellow;
       padding-top: 70px;
       
       &::after {
            position: absolute;
            content: '';
            width: 10%;
            border-bottom: 2px solid var(--main_vv);
            bottom: -75px;
            left: 50%;
            transform: translate(-50%, 0);

            @include respond-to(sm) {
                width: 30%;
            }
        }

        & > .block_text {

            & h3 {
                //margin-top: 30px;
                text-align: center;
                color: var(--main_vv);
            }

            & > .features__container {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: center;


                & .feature {
                    margin-top: 5px;
                    display: flex;
                    width: 600px;
                    //justify-content: space-between;
                    align-items: flex-end;
                    
                    &:nth-of-type(1) {
                        margin-top: 30px;
                    }

                    & span {
                        font-size: 20px;
                    }

                    & .feature__name {
                        width: 70%;
                        display: flex;
                        align-items: flex-end;



                        & .gap {
                           flex-grow: 1;
                           border-bottom: 1px dotted var(--text);
                        }
                    }

                }

            }


            & > .colors__container {
                margin-top: 40px;
                width: 100%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;


                & > .color {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-left: 15px;
                    margin-top: 10px;

                    &.mixed {
                        background: conic-gradient(
                            hsl(360 100% 50%),
                            hsl(315 100% 50%),
                            hsl(270 100% 50%),
                            hsl(225 100% 50%),
                            hsl(180 100% 50%),
                            hsl(135 100% 50%),
                            hsl(90 100% 50%),
                            hsl(45 100% 50%),
                            hsl(0 100% 50%)
                          );
                    }
                }
    
    
            }


            & p {
                font-size: 1.2rem;
                //margin-top: .5rem;
            }
        }


    }
}