@use '/src/assets/css/variables' as *;


.proscons_feature__container {
    width: 100%;
    & > ul {
        & > li::first-letter {
            text-transform: capitalize;
            
        }
        /*&.pros > li::before {
            background-image: url(../../assets/img/icon_plus.svg);
        }

        &.cons > li::before {
            background-image: url(../../assets/img/icon_minus.svg);
        }*/
    }
}

