@use "/src/assets/css/variables" as *;



.page_orders {
    background-color: var(--bg);
    transition: background-color $transition-theme;
    flex-grow: 1;

    & .filters {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .filter__item {
            & label {
                display: flex;
                flex-direction: column;


                & input, select {
                    margin-top: 5px;
                    color: red;
                }
    
                & select {
                    width: 200px;
                }
            }

            &.hidden {
                display: none;
            }
        }

    }

    .orders__container {
        margin-top: 30px;


        & .block_user {
            margin-top: 140px;
            padding: 10px;
            width: 100%;
           // border: 1px solid red;
            border-radius: 15px;
            position: relative;

            &:first-of-type {
                margin-top: 0px;
            }
            
            &:not(:first-of-type)::before {
                position: absolute;
                top: -70px;
                left: 50%;
                transform: translate(-50%, -50%);
                content: "";
                width: 40%;
                height: 2px;
                background-color: #fff;
                border-radius: 2px;
            }

            & .user__header {
                text-align: center;
            }

            & .user__subheader {
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }


        & .orders {
            //border: 1px solid red;
            
            & .order {
                //border: 2px solid white;
                background-color: var(--main);
                border-radius: 10px;
                padding: 10px;
                margin-top: 30px;
                position: relative;


                &::before {
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    width: 3px;
                    height: 30px;
                    background-color: #fff;
                }

                &:nth-of-type(1) {
                    margin-top: 20px;
                    &::before {
                        display: none;
                    }
                }

                & .order__date-status {
                    grid-column: 1/-1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                & .order__cart {
                    display: grid;
                    margin-top: 10px;
                    grid-template-columns: 1fr 1fr 1fr 1fr auto;
                    border: 2px solid black;
                    border-radius: 10px;
                    
                    & .cell {
                        border-left: 1px solid black;
                        border-top: 1px solid black;
                        padding: 5px 10px;
        
                        &.head {
                            text-align: center;
                            border-top: none;
                        }
                        
                        &.first {
                            border-left: none;
                        }
        
                        &.center {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
    
                }


                & .order__message-container {
                    margin-top: 10px;
                    grid-column: 1/-1;
    
                }
    
                & .files__header {
                    text-align: center;
                    margin-top: 15px;   
                }
    
                & .files-container {
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    border: 1px solid var(--main_em);
                    border-radius: 10px;
                    //padding: 20px;
    
                    & > .cell {
                        padding: 10px;
                    }
                }
            }

            


        }

        & .pagination__container {
            margin-top: 20px;
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;

            & .pagination__page-number {
                background-color: transparent;
                outline: none;
                border: none;
                font-size: 18px;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                
                &.selected {
                    color: red;
                    //background-color: #fff;
                    //border: 1px solid blue;
                    //border-radius: 50%;
                    font-weight: 700;
                }
            }
        }


        & .empty-informer {
            display: block;
            text-align: center;
            font-size: 20px;
            margin-top: 20%;

        }


    }

}