@use '/src/assets/css/variables' as *;


.page_news-add {

    & form {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .input-item {
            margin-top: 15px;
            display: flex;
            width: 500px;
            justify-content: space-between;
            
            & input, textarea {
                color: red;
                margin-left: 20px;
                padding: 5px;
                font-weight: 700;
                width: 300px;
            }
        }

        button {
            margin-top: 30px;
            width: fit-content; 
        }

    }
}