@use '/src/assets/css/variables' as *;

section.portfolio {
    background-color: var(--bg);
    transition: background-color $transition-theme;
    flex-grow: 1;
    
    & .portfolio__hero {
        text-align: center;
        margin-top: 60px;

        .hero__descr {
            display: flex;
            align-items: center;
            padding-top: 40px;

            & > img {
                max-width: 45%;
                border-radius: 15px;
            }

            & .hero__descr__text {
                max-width: 50%;
                margin-left: clamp(40px, 5%, 80px);

                & ul {
                    text-align: left;
                    list-style-type: disc;
                }
            }

        }
    }

    .splider_portfolio__main {
        height: 600px;
        margin-top: 100px;
        margin-bottom: 100px;
        display: flex;
        align-items: stretch;
    
        @include respond-to(lg) {
            min-height: 376px;
        }
    
        @include respond-to(md) {
            min-height: 320px;
        }
    
        @include respond-to(sm) {
            min-height: 400px;
        }
    }




}