@use '/src/assets/css/variables' as *;

section.tech {
    background-color: var(--bg);
    transition: background-color $transition-theme;
    flex-grow: 1;
    
    & .tech {
        width: 100%;
    
        & .tech__container {
            width: 100%;
            margin-top: 30px;
    
            & .tech__item {
                margin-top: 60px;
    
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        
    }
}