@use '/src/assets/css/variables' as *;


.page_color-add {

    & form {
        margin-top: 70px;
        gap: 30px 40px;
        background-color: var(--main);
        border-radius: 5px;
        padding: 40px;
        width: 80%; 
        margin-left: auto;
        margin-right: auto;

        @include respond-to(sm) {
            padding: 20px;
            width: 100%; 
        }


        & .input-block, .input-block_header {
            display: grid;
            grid-template-columns: 100px 1fr 1fr;
            gap: 10px 20px;
            margin-top: 30px;
            align-content: center;



            @include respond-to(md) {
                grid-template-columns: 100px 1fr;
                border-bottom: 1px solid var(--main_vv);
                margin-top: 30px;
                padding-bottom: 35px;

                &:nth-of-type(5) {
                    border-bottom: none;
                }
            }

            @include respond-to(xs) {
                grid-template-columns: 1fr;
            }

            & span, h3 {
                text-align: center;
            }


            & label {
                //min-width: 160px;
                align-self: center;
                white-space: nowrap;
                font-size: 18px;

                @include respond-to(md) {
                    grid-row-start: 1;
                    grid-row-end: 3;
                }
            }


            .input__wrapper {
                position: relative;

                &::before {
                    @include respond-to(md) {
                        font-size: 14px;
                        content: 'EN';
                        position: relative; 
                        left: 0%;
                        top: 0px;
                        transform: translate(0, -50%);
                    }   
                }

                @include respond-to(md) {
                    margin-bottom: 30px;
                }

                &:nth-of-type(2)::before {
                    @include respond-to(md) {
                        content: 'RU';
                    }
                }


                & > .drop-area {
                    padding: 15px;
                    height: 100%;

                    & > svg {
                        display: none;
                    }

                    & > input {
                        display: none;
                    }

                    & .link__container {
                        align-items: flex-start;

                        & label {

                        }

                        & span {
                            text-align: left;
                            max-width: 80%;
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }


                    & .preview-gallery {
                        margin-top: 0;
                        margin-top: 20px;
                        //margin-left: 30px;
                        margin-left: 0;


                        & > div {
                            width: 110px;

                            & img {
                                object-fit: contain;
                            }
                        }
                    }

                    & .clear-files {
                        top: auto;
                        bottom: 20px
                    }
                }


                &.error {
                    border: 1px solid red;
                }

            }

        }


        & .input-block:nth-of-type(4) .input__wrapper::before{
            @include respond-to(md) {
                content: 'FULL';
            }
        }


        & .input-block:nth-of-type(4) .input__wrapper:nth-of-type(2)::before{
            @include respond-to(md) {
                content: 'SMALL';
            }
        }




        & .input-block_header {
            margin-top: 60px;
            @include respond-to(md) {
                display: none;
            }
        }



        & .full-width {
            grid-column: 1 / -1;

            
            @include respond-to(md) {
                grid-column: 1 / -1;

            }
        }




        & .post {
            margin-left: auto;
            margin-top: 30px;
            width: fit-content; 
            background-color: var(--main_vv);

            @include respond-to(xs) {
                width: 100%;
                display: grid;
                place-items: center;
            }
        }



        & input {
            color: $black;
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            padding: 5px 10px;
            border-radius: 4px;
            background-color: var(--inputs-bg);
            transition: background-color 1s, border 1s;
            outline: none;
            border: 2px solid transparent;
            position: relative;

            @include respond-to(sm) {
                font-size: 16px;
            }

            @include respond-to(xs) {
                font-size: 14px;
                padding: 3px 6px;
            }
        }
        

    }
}